/**table搴曢儴鎸夐挳鏍峰紡***/
.oms-button {
	height: 25px;
	font-weight: normal;
	color: #fff;
 	font-size: 1em;
	font-family: "Verdana","Arial", "Helvetica", "sans-serif";
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
 	position: relative;
	padding: 0;
	cursor: pointer;
	text-align: center;
	margin: 0px 3px;
	background-color:#f90;
	width:61px;
}

.oms-button-hover{
	background-color:#fc0;
}

.oms-button .oms-button-text {
	position: absolute;
	top: -2px;
	right: -4px;
	padding:0.4em 1em 0.4em 0em;
}

.ui-icon {
	float:left;
	height:16px;
	width:16px;
	margin:1px;
	background-image:url(../images/oms/ui-icons_454545_256x240.png);
}

.ui-icon-search-white {
	float:left;
	height:16px;
	width:16px;
	margin:1px;
	background-image:url(../images/oms/ui-icons_ffffff_469x159.gif);
	background-position:-48px 0;
}

.ui-icon-search {
	background-position:-160px -112px;
}

.ui-icon-run {
	background-position:-192px -112px;
}

.ui-icon-newwin {
	background-position:-48px -80px;
}

.ui-icon-plus {
	background-position:-16px -128px;
}

.ui-icon-pencil {
	background-position:-64px -112px;
}

.ui-icon-trash {
	background-position:-176px -96px;
}

.ui-icon-print {
	background-position:-160px -96px;
}

.ui-icon-shuffle {
	background-position:-80px -80px;
}

/***鎼滅储鏉′欢閮�*/
.oms-search-fieldset,.oms-input-fieldset{
	margin: 5px;
	padding-bottom: 10px;
	border-radius: 4px;
	padding: 0px;
	border: 2px groove threedface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	min-width: -webkit-min-content;
}

.oms-input-fieldset {
	overflow: auto;
}

.oms-search-fieldset legend,.oms-input-fieldset legend {
	margin: 0px;
	font-family: "Verdana","Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	width:70px;
	margin-left:10px;
	line-height:16px;
}

.ui-icon-circlesmall {
	height:16px;
	width:16px;
	background-image:url(../images/oms/ui-icons_222222_256x240.png);
}

.ui-icon-circlesmall-minus {
	background-position:-16px -208px;
}
.ui-icon-circlesmall-plus {
	background-position:0 -208px;
}

.oms-search-fieldset form {
	background-color:white;
	margin-bottom:0px;
}

.oms-search-fieldset form, label, input, button, select, textarea {
	font-family: "Verdana","Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: 19.9px;
}

.oms-search-fieldset form div{
	padding:0px 0px 4px 0px;
}
.oms-search-fieldset form label{
	line-height:16px;
	vertical-align:middle;
	text-align: right;
	display: inline-block;
}

.oms-search-fieldset form input,.oms-search-fieldset form select{
	font-family: "Verdana","Arial", "Helvetica", "sans-serif";
	font-size: 1em;
	border: 1px solid;
	padding: 1px 0px;
}

.oms-search-fieldset form input {
	height:14px;	
	width:120px;
}

.oms-search-fieldset form select {
	height:20px;
	width:122px;	
}

.oms-input-fieldset form input,lable,select {
	font-family: "Verdana","Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	border: 1px solid;
	padding: 1px 0px;
}

.oms-input-fieldset form label {
	line-height:16px;
	vertical-align:middle;
	text-align: left;
	display: inline-block;
	width:120px;
}

.oms-input-fieldset label.error{
	width:80px;
	margin-left:10px;
}

.oms-input-fieldset form input {
	height:20px;	
	width:120px;
}

.oms-input-fieldset form select {
	height:20px;
	width:122px;
}

.oms-input-fieldset input[type="submit"],.oms-input-fieldset input[type="button"] {
	height: 25px;
	font-weight: normal;
	color: #fff;
 	font-size: 1em;
	font-family: "Verdana","Arial", "Helvetica", "sans-serif";
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	position: relative;
 	padding: 0;
 	margin-right: .1em;
	cursor: pointer;
	text-align: center;
	margin: 0px 3px;
	background-color:#f90;
 	width:50px
}

.oms-input-fieldset input[type="submit"]:hover,.oms-input-fieldset input[type="button"]:hover{
	background-color:#f90;
}

.oms-input-fieldset tr td{
	height:23px;
}

.oms-input-fieldset hr {
	margin:2px;
}

.oms-maintabs {
	
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(170, 170, 170);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(170, 170, 170);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(170, 170, 170);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(170, 170, 170);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	color: rgb(34, 34, 34);
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	height: 402.625px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 2.6399998664855957px;
	padding-left: 2.6399998664855957px;
	padding-right: 2.6399998664855957px;
	padding-top: 2.6399998664855957px;
	position: relative;
	zoom: 1;
}

.oms-tabs {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(34, 34, 34);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(34, 34, 34);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(34, 34, 34);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(34, 34, 34);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(34, 34, 34);
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 29px;
	line-height: 17.15999984741211px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(34, 34, 34);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 2.6399998664855957px;
	padding-right: 2.6399998664855957px;
	padding-top: 2.6399998664855957px;
	text-decoration: none solid rgb(34, 34, 34);
	width: 588.5px;
	zoom: 1;
}

.oms-tabs li {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(230, 230, 230);
	background-image: url(../images/oms/ui-bg_glass_75_e6e6e6_1x400.png);
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(85, 85, 85);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(211, 211, 211);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(211, 211, 211);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(211, 211, 211);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	color: rgb(85, 85, 85);
	display: list-item;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 27px;
	line-height: 15.600000381469727px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: -1px;
	margin-left: 0px;
	margin-right: 2.4000000953674316px;
	margin-top: 1px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	top: 0px;
	white-space: nowrap;
	width: 72px;
	zoom: 1;
}

.oms-tabs .oms-tabs-active,.oms-tabs .oms-tabs-active:hover{
	background-color: rgb(218, 218, 218);
	background-image: url(../images/oms/ui-bg_glass_65_ffffff_1x400.png);
	border-bottom-color: rgb(33, 33, 33);
	border-left-color: rgb(153, 153, 153);
	border-right-color: rgb(153, 153, 153);
	border-top-color: rgb(153, 153, 153);
	color: rgb(33, 33, 33);
}

.oms-tabs li:hover{
	background-color: rgb(218, 218, 218);
	background-image: url(../images/oms/ui-bg_glass_75_dadada_1x400.png);
	border-bottom-color: rgb(33, 33, 33);
	border-left-color: rgb(153, 153, 153);
	border-right-color: rgb(153, 153, 153);
	border-top-color: rgb(153, 153, 153);
	color: rgb(33, 33, 33);
}

.oms-tabs a{
	
	color: rgb(33, 33, 33);
	cursor: text;
	display: block;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 15px;
	line-height: 15.600000381469727px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(33, 33, 33);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	text-align: center;
	text-decoration: none solid rgb(33, 33, 33);
	white-space: nowrap;
	width: 48px;
	zoom: 1;
}

.refBtn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 0;
    padding: 0px 5px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle
}
